:root{
  --global-branco:#ffffff;
  --global-azul:#265acc;
  --global-preto:#111;

}

.navbar {
  
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 35%;
  width: 100%;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar__left .active_link {
  color: var(--global-azul);
  border-bottom: 3px solid --global-azul;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}
/*   Classe nome superior Gunter       */
.navbar__right > a > i {
  color: var(--global-branco);
  font-size: 25px;
  padding: 0px;
  font-style:normal;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
